Flask
Flask-SQLAlchemy
SQLAlchemy
pandas
requests
pymysql
openpyxl
mysql-connector-python
Flask-Login
flask-migrate
flask-wtf
flask_bcrypt
matplotlib
numpy
pandas
cryptography
psycopg2
seaborn